@page "/"
@rendermode InteractiveServer
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<Testing Age="@TestAge" Name="Kenneth" OnClick="@IncE"></Testing>
<Testing2 Age="@TestAge" Name="Kenneth" OnClick="@IncE"></Testing2>
<button @onclick="@IncE">Click me please</button>
Welcome to your new app.

@code {

    int TestAge = 28;
    private EventCallback IncE => EventCallback.Factory.Create(this, Inc);
    public void Inc()
    {
        TestAge += 1;
    }
}